#root {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #060303;
  position: relative;
}

h1, p, .todo-list__input, .todo-list__button, h3, h2 {
  margin: 0;
  color: #ffffffce;
}

.todo-list {
  border: 2px solid rgba(95, 95, 95, 0.199);
  padding: 4rem;
  box-sizing: border-box;
  height: 90%;
  width: 45%;
  border-radius: 36px;

  display: flex;
  flex-direction: column; 
  
  background: radial-gradient(
        circle at 50% 50%,  
        rgba(134, 21, 42, 0.408), 
        rgba(45, 40, 75, 0) 50%  
    ),
  linear-gradient(180deg, #200f0f, #100507);
}

.todo-list__tittle {
  font-size: 40px;
}

.todo-list__options {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.todo-list__options--search {
  width: calc(70% - 0.5rem);
}
.todo-list__options--filter {
  width:calc(30% - 0.5rem);
}

.todo-list__input {
  height: 40px;
  background-color: transparent;
  padding: 0 1rem;
  border: 2px solid #d1797956;
  border-radius: 8px;
  font-size: 16px;
  outline: none; 
}

.todo-list__input:focus {
  border-color: #b23f3f; 
}

.todo-list__button {
  background-color: #ffffff17;
  border: 2px solid #d1797956;
  border-radius: 8px;
  height: 43px;
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.todo-list__empty{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list__empty--img {
  height: 200px;
  width: 200px;
}

.todo-list__empty--title {
  font-size: 28px;
  color: #de8a8a;
}

.todo-list__empty--subtitle { 
  font-size: 18px;
}

.todo-list__items {
  margin:0;
  padding: 0;
  list-style: none;
  flex: 1; 
  box-sizing: border-box;
  overflow-y: auto;
  margin-top: 1rem;
}

.todo-list__task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;

  border-radius: 12px;
  background-color: #e9949415;
  border: 2px solid rgba(240, 148, 148, 0.19);
  
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.todo-list__task--completed{
  background-color: #845f5f7f;
  position: relative;
}
.todo-list__task--completed::after{
  content: '';
  position: absolute;
  inset: 50% 1rem auto 1rem;
  height: 5px;
  border-radius: 3px;
  background-color: rgb(156, 126, 126);
}

.todo-list__task + .todo-list__task{
  margin-top: 1rem;
}

.todo-list__task--info {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
.todo-list__task-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo-list__checkbox {
  display: none;  
}

.todo-list__checkbox-label {
  width: 20px;
  height: 20px;
  border: 2px solid #d1797956;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

.todo-list__checkbox:checked + .todo-list__checkbox-label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 6px;
  
  width: 6px;
  height: 10px;
  border: 2px solid #b23f3f;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.todo-list__task--description{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: calc((100% - 1rem) - 20px);
  gap: 0.25rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.todo-list__row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-list__task--description--title {
  position: relative;
}

.todo-list__task--description--date {
  font-size: 12px;
}

.todo-list__task--description--description {
  font-size: 14px;
}

.todo-list__delete--button {
  margin-top: 1rem;
  height: 50px;
  width: 100%;
}

.todo-list__btn--anyadir{
  position: absolute;
  inset:auto 20% 2rem auto;
  height: 75px;
  width: 75px;
  background-color: #d1797956;
  border: 2px solid #d1797956;
  color: #ffffffb2;
  font-weight: 700;
  font-size: 32px;
  border-radius: 99px;
  cursor: pointer;
}

.todo-list__items::-webkit-scrollbar {
  width: 8px;
}

.todo-list__items::-webkit-scrollbar-track {
  background: transparent;
  border: 2px solid rgb(115, 59, 59);
}

.todo-list__items::-webkit-scrollbar-thumb {

  background-color: rgba(146, 95, 95, 0.982);
  border-radius: 10px;

}

.todo-list__items::-webkit-scrollbar-thumb:hover {
  background-color: #de8a8a;
}


.bg-blur {
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(52, 25, 25, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.popUpAdd__container {
  position: absolute;
  inset: 50% 50% auto auto;
  transform: translate(50%, -50%);
  border: 2px solid rgba(95, 95, 95, 0.199);
  padding: 2rem;
  box-sizing: border-box;
  width: 30%;
  border-radius: 28px;

  display: flex;
  flex-direction: column; 

  background: rgba(49, 30, 30, 0.93);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
  
  gap: 1rem;
}

.popUpAdd__container--row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popUpAdd__container--form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.popUpAdd__container--input {
  margin-bottom: 0.5rem;
}